{% extends "base.html" %}
{% load static %}

{% block content %}

{% block extra_styles %}
  <link
  rel="stylesheet"
  type="text/css"
  href="{% static 'chat/css/styles.css' %}"
  />
{% endblock extra_styles %}

<div>
  <ul>
    {% for msg in messages %}
      <li><b><span class="msg-date">{{ msg.created_at|date:"l" }}</span>{{ msg.author.first_name }}:</b> <i>{{ msg.text }}</i></li>
    {% endfor %}
  </ul>
</div>

<form action="/chat/" method="post" id="chat-form">
  {% csrf_token %}
  <div
    class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"
  >
    <input
      class="mdl-textfield__input"
      name="textmessage"
      type="text"
      id="textmessageid"
    />
    <label class="mdl-textfield__label" for="sample3">Text...</label>
  </div>
  <button
    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
    type="submit"
  >
    Send Message
  </button>
</form>
{% endblock %}

