{% extends "base.html" %}

{% load static %}

{% block extra_head %}
    <script src="{% static 'chat/js/register.js' %}"></script>
{% endblock extra_head %}

{% block content %}
<p>Please register to join the chatroom or <a href="/login">log in here</a></p>
<form action="{% url 'register' %}" method="post">
    {% csrf_token %}
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input
        class="mdl-textfield__input"
        name="username"
        id="username"
        type="text"
        />
        <label class="mdl-textfield__label" for="sample3">Username</label>
    </div>
    <br>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input
        class="mdl-textfield__input"
        name="firstname"
        id="firstname"
        type="text"
        />
        <label class="mdl-textfield__label" for="sample3">Firstname</label>
    </div>
    <br>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input
        class="mdl-textfield__input"
        name="password"
        id="password"
        type="password"
        />
        <label class="mdl-textfield__label" for="sample3">Password</label>
    </div><br>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input
        class="mdl-textfield__input"
        name="password"
        id="password_repeat"
        type="password"
        />
        <label class="mdl-textfield__label" for="sample3">Repeat Password</label>
    </div><br>
    <div id="password_match_msg"></div>
    <button
        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
        id="register"
        type="submit"
        >
        Register
    </button>

    {% if error_message %}
        {{ error_message }}
    {% endif %}

    </form>

{% endblock %}